@media all and (max-width: 1500px) {

  .logo h1,
  .logo h2 {
    text-align: center;
  }

  .main-nav-content {
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .main-nav-content-btns {
    margin: 20px;
  }

  .main-nav-content-btns li a {
    font-size: 18px;
  }

  .plane-section-content ul {
    flex-direction: column;
  }

  .plane-section-btn {
    margin: 20px 0px;
  }

  .offers-list .destination-img {
    width: 550px;
    height: 300px;
    box-shadow: 10px 15px 5px black;
  }
}

@media all and (max-width: 1306px) {
  .main-nav-content {
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
  }

  .main-nav-content-btns {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }

  .main-nav-content-btns li {
    margin: 0px 0px 10px 0px;
    width: 100%;
    text-align: center;
    padding: 5px 20px;
  }

  .main-nav-content-btns li a {
    width: 180px;
  }

  .social-media ul {
    flex-direction: column;
    margin: 10px 20px
  }

  .plane-section {
    height: 900px;
  }

  .plane-section-content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .plane-section-content ul {
    flex-direction: row;
  }

  .plane-section-btn {
    margin: 20px;
  }

  .plane-section-img {
    margin-left: 180px;
  }

  .about-us {
    flex-direction: column;
    flex-basis: auto;
  }

  .about-us-content {
    padding: 0;
  }

  .trips .destination {
    padding: 20px;
  }

  .trips .destination-img {
    height: 350px;
    width: 1000px;
  }


}

@media all and (max-width: 1180px) {
  .offers-list .destination-img {
    width: 900px;
  }

  .contact-us-location {
    justify-content: space-between;
  }

  .google-maps {
    margin-left: 0;
  }

  .contact-us-form-article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media all and (max-width: 1080px) {
  .nav {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .logo h1 {
    margin-right: 0;
  }

  .offer-details-main .nav {
    padding: 0px 30px;
  }

  .main-nav-content {
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 80px 0px;
  }

  .main-nav-content-btns {
    flex-direction: row;
  }

  .main-nav-content-btns li {
    height: 50px;
    width: 200px;
    padding: 15px;
    margin: 0px 15px;
  }

  .social-media ul {
    flex-direction: row;
    margin-top: 70px;
  }

  .social-media-icon {
    margin: 30px;
    font-size: 34px;
  }

  .plane-section {
    height: 1200px;
  }

  .about-us-page .main-nav-content {
    margin-bottom: 0;
  }

  .offers-main .main-nav-content {
    margin-bottom: 0;
  }

  .trips .destination-img {
    height: 250px;
    width: 700px;
  }

  .about-us-img {
    margin: 40px 0px;
  }

  .offers-list .destination-img {
    width: 700px;
  }

  .offer-main-content .destination-img {
    height: 150px;
  }

  .offer-main-content .destination-header a {
    font-size: 30px;
  }

  footer {
    align-items: center;
    flex-direction: column;
  }

}

@media all and (max-width: 800px) {
  .nav {
    padding-bottom: 0;
  }

  .logo h1 {
    font-size: 140px;
  }

  .logo h2 {
    font-size: 36px;
  }

  .main-nav-content {
    padding-top: 0;
  }

  .main-nav-content-btns {
    flex-direction: column;
  }

  .main-nav-content-btns li {
    width: 400px;
    margin-bottom: 20px;
  }

  .social-media {
    position: relative;
    top: -80px;
    flex-basis: 10%;
  }

  .plane-section {
    padding-top: 0;
  }

  .plane-section-content ul {
    flex-direction: column;
  }

  .plane-section-btn {
    width: 400px;
  }

  .plane-section {
    height: 1250px;
  }

  .plane-section-img {
    width: 400px;
  }

  .trips .destination-img {
    height: 250px;
    width: 500px;
  }

  .offers-list .destination-img {
    width: 500px;
  }

  .offer-main-content .destination-img {
    height: 100px;
  }

  .offer-main-content .destination-header a {
    font-size: 20px;
  }

  .footer-content {
    font-size: 19px;
  }

  .social-media-icon-footer {
    font-size: 18px;
  }
}

@media all and (max-width: 560px) {
  .logo h1 {
    font-size: 80px;
  }

  .logo h2 {
    font-size: 22px;
  }

  .main-nav-content-btns li {
    width: 270px;
  }

  .social-media-icon {
    margin: 10px;
    font-size: 20px;
  }

  .plane-section {
    height: 1000px;
  }

  .plane-section-content {
    position: relative;
    top: -60px;
  }

  .plane-section-btn {
    width: 270px;
  }

  .plane-section-img {
    width: 90%;
  }

  .trips .destination-img {
    height: 250px;
    width: 300px;
  }

  .offers-list .destination-img {
    width: 320px;
  }

  .offer-main-content .aside-section {
    display: none;
  }

  .offer-city-heading {
    text-align: center;
  }
}


@media all and (max-width: 390px) {


  main {
    width: 390px;
  }

  footer {
    width: 390px;
  }

  .nav {
    width: 390px;
  }

  .logo h1 {
    font-size: 60px;
  }

  .main-nav-content-btns {
    margin: 0;
  }

  .main-nav-content-btns li {
    width: 200px;
  }

  .plane-section {
    height: 900px;
  }

  .plane-section-btn {
    width: 200px;
  }

  .trips .destination-img {
    height: 250px;
    width: 250px;
  }

  .offers-list .destination-img {
    width: 300px;
  }

  .about-us {
    margin: 0;
  }
}